
*.swp
*.swo
*.swn
*.sw*

.git/*

tmp/*
wp-content/uploads/*

extra2.1/tmp/*
extra2.1/patch4mall/public/tmp/*
extra2.1/patch4mall/node/node_modules/*
extra2.1/patch4mall/tpl/compilation_cache/*

*/node_modules/*
*/tmp/*
*/compilation_cache/*
