
<html>
<head>
<title> Hello {{ name }}! </title>
<script type="text/javascript"  src="/extra2.1/common/public/js/jquery-1.9.1.js"> </script>
<!--
<script type="text/javascript"  src="/extra2.1/patch4the7/public/4tpl-admin.js"> </script> 
-->
<script type="text/javascript"  src="/extra2.1/patch4mall/public/4api-picasa.js"> </script> 
</head>

<body>

<h2> Hello , this is my Admin Panel ! </h2>
<div id="wrap">
<p> This is p </p>

</div>


</body>
</html>

